{% extends 'store/layouts/main.html' %}


{% block content %}

<div class='py-3 bg-primary'>
    <div class='container'>
        <a class="text-white" href="{% url 'home' %}">Главная /</a>
        <a class="text-white" href="{% url 'wishlist' %}">Личный кабинет /</a>
    </div>
</div>



<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='card shadow '>
                <div class='card-body '>
                    <h3>Личный кабинет</h3>
                    <hr>
                    
                        
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock content %}