.checkoutform label{
    font-size: 14px !important;
    font-weight: 600;
}


.checkoutform input{
    font-size: 14px !important;
}

.whatsapp-chat{
    position: fixed;
    bottom: 09% !important;
    margin-left: 03% !important ;
}


.search-bar{
    width: 55% !important;
    margin-left: 10% !important;
}

.shadow{
    padding: 20px !important;
}