{% extends 'store/layouts/main.html' %}


{% block content %}

<div class='py-3 bg-primary'>
    <div class='container'>
        <a class="text-white" href="{% url 'home' %}">Главная /</a>
        <a class="text-white" href="{% url 'partner' %}">Доставка и самовывоз /</a>
    </div>
</div>
<div class='container mt-2 mb-3 '>
    <div class='row'>
        <div class='col-md-12'>
            <div class='card shadow w-100 '>
                <h3>Доставка и самовывоз</h3>
                <hr>
                <div>
                    <p>Доставка осуществляется по адресу, указанному при оформлении заказа. Если необходимо доставить товар по иному
                        адресу, необходимо сообщить его менеджеру службы доставки, который свяжется с вами сразу после оформления заказа
                        на сайте.</p>
                    <p>
                        При доставке вам будут переданы все необходимые документы на покупку: товарный и кассовый чеки, а также
                        гарантийный талон. При оформлении покупки на организацию (юридическое лицо), вам будут переданы счет-фактура, а
                        также накладная, в которой необходимо поставить печать вашей организации. </p>
                    <p>Время и место доставки уточняются в предварительной беседе по телефону. Мы приложим все необходимые усилия, чтобы
                        ваша покупка была доставлена в удобное для вас место и время.</p>
                    <p><strong>Самовывоз</strong> — это способ получения заказа из интернет-магазина, при котором товар доставляется не
                        по адресу покупателя, а в офис интернет-магазина, на склад или в специальный пункт выдачи заказов, откуда вы
                        сможете сами его забрать.</p>
                    <p>Вы можете забрать заказ по адресу: г. Кара-суу Туратали Базар, 2-Павильон, 501 место.Мы работаем с 9:00 до
                        20:00.</p>
                    <p>Можете уточнить доставку в вашем городе по номеру +996 559 256 662. Все наши <a
                            href="{% url 'contacts' %}">контакты</a>.</p>
                    <p>Доставка по городу Ош осуществляется -200c. Срочная доставка: по городу - 550 сом, за город - от 100 сом и
                        выше. Также есть доставка в регионы, в этом случае покупатель сам оплачивает услуги курьера / такси. </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}